/* font-family: 'Oxygen', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Slabo 27px', serif; */

body {
    background-color: #D0D9CD;
    color: #94B8B8
}

p {
    font-family: 'Roboto Slab', serif;
    color: gray;
    font-size: 1.2em;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-weight: 900;
    color: green;
    font-size: 3em;
    margin: 3% 0%;
}

.center {
    text-align: center;
    display: block;
}

.md {
    clear: left;
}

.mckeldin {
    float: left;
}

.line {
    float: right;
}

.graphic {
    padding: 0% 5%;
    background-color: #ffffff;
    margin: 5% 0%;
}

.swab {
    float: right;
}

a {
    color: #78866B;
}

footer {
    font-size: .9em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    color: #79D2A6;
}

@media (max-width: 992px) {
    header {
        text-align: center;
    }
    video {
        margin-bottom: 5%;
    }
}

@media (max-width: 850px) {
    header {
        margin-top: 25%;
    }
    body {
        font-size: 16px;
    }
    .chart {
        padding: 2%;
    }

}
    
@media (max-width: 450px) { 
    header {
        margin-top: 50%;
    }
    body {
        font-size: 14px;
    }
    section, footer {
        width: 95%;
    }
    caption {
        font-size: .9em;
    }
}