body{
    background-color: #B1C9C0;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 800;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color:azure;
}

p {
    font-weight: 800;
}

.number {
    color: gray;
}

nav a {
    padding: 0 20px;
}

a {
    color: gray;
    text-decoration: none;
    font-size: 1em;
}

nav {
    text-align: center;
    color: #DF7761;
    margin: 1em;
}

.bio img {
    float: right;
}

.row {
    font-size: .7em;
    letter-spacing: 1px;
}

.row img {
    margin: 20px 0;
}

.center {
    text-align: center;
    font-size: 1.3em;
}

.contact {
    text-align: center;
    font-size: 1em;
}

footer {
    font-size: .9em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 450px) {
    body {
        margin: 20px 0 0 0;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1em;
    }
    nav a {
        display: block;
    }
}
