.background {
    color: #B1C9C0;
}

p {
   font-family: 'Poppins', sans-serif;
   color: #787676;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #787676;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #787676;
}

.block {
    text-align: center;
    font-size: .7em;
    letter-spacing: 1px;
}

.block img {
    margin: 20px 0;
}

footer {
    font-size: .8em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

@media (max-width: 450px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1em;
    }
}
