/*fonts
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Archivo', sans-serif;

colors
#f5f5f5; off-white
#080707; black
#df4601; orange
#ffffff; pure white
#d4c9c3; beige
*/

header {
    height: 100vh;
    margin-top: 15%;
    margin-right: 2%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    justify-content: right;
}

.subhead {
    background-color: #df4601;
    color: #f5f5f5;
    display: inline;
    padding: 1% 2% 1% 2%;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 3em;
    text-transform: lowercase;
}

h2 {
    background-color: #f5f5f5;
    color: #080707;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1.3px;
}

h3 {
    font-size: 1.1em;
}

body {
    background-color: #080707;
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
    color: #f5f5f5;
}

section {
    width: 65%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.intro {
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.graphic {
    padding: 5%;
    background-color: #ffffff;
}

.chart {
    background-color: #ffffff;
    padding: 5%;
}

.name {
    text-transform: uppercase;
    color: #df4601;
}

caption {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: .8em;
    color: #d4c9c3;
    font-style: italic;
}

blockquote {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    background-color: #df4601;
    padding: 2%; 
}

.quote {
    font-size: 1.2em;
    font-weight: 500;
}

.cite {
    font-size: .8em;
    font-style: italic;
}

a {
    color: #f5f5f5;
    text-decoration-color: #df4601;
    font-weight: 600;
}

a:hover {
    background-color: #f5f5f5;
    color: #df4601;
}

video {
    width: 100%;
    justify-content: left;
}

@media (max-width: 992px) {
    header {
        text-align: center;
    }
    video {
        margin-bottom: 5%;
    }
}

@media (max-width: 850px) {
    header {
        margin-top: 25%;
    }
    body {
        font-size: 16px;
    }
    .chart {
        padding: 2%;
    }

}
    
@media (max-width: 450px) { 
    header {
        margin-top: 50%;
    }
    body {
        font-size: 14px;
    }
    section, footer {
        width: 95%;
    }
    caption {
        font-size: .9em;
    }
}