body {
    padding: 5%;
    font-family: 'Lora', serif;
}

img {
    width: 65%;
    display: block;
}

h1,
h2,
header i {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    margin: 1% 0 0 0;
    text-transform: uppercase;
}

header img {
    margin-top: 5%;
}

.box {
    line-height: .5;
    background: ##FFC300;
    padding: 2% 1%;
}

a {
    color: ##FFC300;
    text-decoration: none;
}

.caption {
    font-size: .8em;
}

.box a {
    color: black;
    line-height: 2;
}